<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hurtownia części elektronicznych</title>

  <style>
    .linki{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    .link {
      margin-bottom: 15px;
      border-radius: 5px;
      max-width: 1000px;
      padding: 10px;
      background-color: rgb(0, 157, 255);
      color: azure;
      font-weight: bold;
      margin-down: 50px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
    }
  </style>

</head>
<body>

<div align="center">
  <!--Page header-->
  <h1>Twoje dane</h1>


  <div class="linki">
    <a class="link" th:href="@{'/editKlienci/' + ${klient[0].nrKlienta}}">Edytuj</a>
    <a class="link" th:href="@{'/main_user/'}">Wróć</a>
  </div>
  <!-- Table -->
  <table border = "1" cellpadding = "20">
    <!-- border – obramowanie, cellpadding – rozmiar komórki-->
    <!-- Table header -->
    <thead>
    <tr> <!-- Table row -->
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Pesel</th>
      <th>Data urodzenia</th>
      <th>Płeć</th>
      <th>Email</th>
      <th>Nr telefonu</th>
      <th>Login</th>
      <th>Hasło</th>
    </tr>
    </thead>
    <!-- Table body -->
    <tbody>
    <tr th:each = "klient : ${klient}">
      <td th:text = "${klient.imie}">Imię</td>
      <td th:text = "${klient.nazwisko}">Nazwisko</td>
      <td th:text = "${klient.pesel}">Pesel</td>
      <td th:text = "${klient.dataUrodzenia}">Data urodzenia</td>
      <td th:text = "${klient.plec}">Płeć</td>
      <td th:text = "${klient.email}">Email</td>
      <td th:text = "${klient.nrTelefonu}">Nr telefonu</td>
      <td th:text = "${klient.login}">Login</td>
      <td th:text = "${klient.haslo}">Haslo</td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>