<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Lista Produktów</title>
</head>

<body>

<div align="center">
  <!--Page header-->
  <h1>Lista Produktów</h1>

  <!-- Table -->
  <table border="1" cellpadding="20">
    <!-- border – obramowanie, cellpadding – rozmiar komórki-->
    <!-- Table header -->
    <thead>
    <tr> <!-- Table row -->
      <th>Nazwa</th> <!--Table column-->
      <th>Opis</th>
      <th>Ilość produktów</th>
      <th>Producent</th>
      <th>Cena</th>
      <th>Nr hurtowni</th>
    </tr>
    </thead>
    <!-- Table body -->
    <tbody>
    <tr th:each="produkty : ${produkt}">
      <td th:text="${produkty.nazwa}">Nazwa</td>
      <td th:text="${produkty.opis}">Opis</td>
      <td th:text="${produkty.iloscProduktow}">Ilość produktów</td>
      <td th:text="${produkty.producent}">Producent</td>
      <td th:text="${produkty.cena}">Cena</td>
      <td th:text="${produkty.nrHurtowni}">Nr hurtowni</d>
    </tr>
    </tbody>
  </table>
</div>

</body>

</html>