<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hurtownia części elektronicznych</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: rgb(217,240,250);
      font-family: 'Gotham';
      justify-content: space-between;
    }

    table, th, td {
    border: 4px solid;
    border-color: rgb(148,25,74);
    background-color: rgb(76,120,186);
    color: rgb(232,232,232);
    }

  </style>
</head>
<body>

<div align="center">
  <!--Page header-->
  <h1>Produkty</h1>

  <!--Entry to new page-->
<!--  <a href="/newProdukty">Wprowadź nowy produkt</a>-->

  <!--Break line-->
  <br/><br/>

  <!-- Table -->
  <table border = "1" cellpadding = "20">
    <!-- border – obramowanie, cellpadding – rozmiar komórki-->
    <!-- Table header -->
    <thead>
    <tr> <!-- Table row -->
      <th>Nazwa</th><!--Table column-->
      <th>Cena (zł)</th>
      <th>Wybierz produkt</th>
    </tr>
    </thead>
    <!-- Table body -->
    <tbody>
    <tr th:each = "produkt : ${listProdukt}">
      <td th:text = "${produkt.nazwa}">Nazwa</td>
      <td th:text = "${produkt.cena}">Cena (zł)</td>
      <td>
        <a th:href="@{'/InformacjeOProdukcie/' + ${produkt.nrProduktu}}">Więcej informacji</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>