<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hurtownia części elektronicznych</title>
</head>
<body>

<div align="center">
  <!--Page header-->
  <h1>Hurtownie</h1>

  <!--Entry to new page-->
  <a href="/newHurtownie">Wprowadź nową hurtownie</a>

  <!--Break line-->
  <br/><br/>

  <!-- Table -->
  <table border = "1" cellpadding = "20">
    <!-- border – obramowanie, cellpadding – rozmiar komórki-->
    <!-- Table header -->
    <thead>
    <tr> <!-- Table row -->
      <th>Nr hurtowni</th> <!--Table column-->
      <th>Nazwa</th>
      <th>Data założenia</th>
      <th>Nr adresu</th>
      <th>Działanie</th>
    </tr>
    </thead>
    <!-- Table body -->
    <tbody>
    <tr th:each = "hurtownia : ${listHurtownia}">
      <td th:text = "${hurtownia.nrHurtowni}">Nr hurtowni</td>
      <td th:text = "${hurtownia.nazwa}">Nazwa</td>
      <td th:text = "${hurtownia.dataZalozenia}">Data założenia</td>
      <td th:text = "${hurtownia.nrAdresu}">Nr adresu</td>
      <td>
        <a th:href="@{'editHurtownie/' + ${hurtownia.nrHurtowni}}">Edytuj</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a th:href="@{'deleteHurtownie/' + ${hurtownia.nrHurtowni}}">Usuń</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>